<!DOCTYPE html>
<html>
<head>
	<title>@@begin-title-end@@ - ND Notes</title>
	<!-- from vscode markdown preview: begin -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({"extensions":["tex2jax.js"],"jax":["input/TeX","output/HTML-CSS"],"messageStyle":"none","tex2jax":{"processEnvironments":false,"processEscapes":true,"inlineMath":[["$","$"],["\\(","\\)"]],"displayMath":[["$$","$$"],["\\[","\\]"]]},"TeX":{"extensions":["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]},"HTML-CSS":{"availableFonts":["TeX"]}});
  </script>
  <script type="text/javascript" async src="/lib/mathjax/MathJax.js" charset="UTF-8"></script>
  <script type="text/javascript" src="/lib/mermaid/mermaid.min.js" charset="UTF-8"></script>
  <!-- end -->
	<meta charset="utf-8">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon/book.jpg">
	<link rel="icon" type="image/png" sizes="32x32" href="/icon/book.jpg">
	<link rel="apple-touch-icon" href="/icon/book.jpg">


	<link type="text/css" rel="styleSheet"  href="/css/index.css" />
	<link type="text/css" rel="styleSheet"  href="/css/markdown render.css" />
</head>
<body itemscope class="use-motion">
	<div class="headband">
		<div class="headband-title">
			<a href="https://rfmeng.github.io/" class="headband-brand" rel="start">
	      <p class="headband-site-title" style="opacity: 1; top: 0px;">ND Notes</p>
	    </a>
		</div>
	  <div class="headband-search-box">
		  <div id="simpleSearch" class="headband-search-box-inner" data-search-loc="header-navigation">
				<input class="headband-search-box-input" type="search" name="search" placeholder="Search for the forgotten" aria-label="Search for the forgotten" autocapitalize="sentences" title="Search for the forgotten [alt-shift-f]" accesskey="f" id="searchInput" autocomplete="off">
				<!-- <input type="hidden" name="title" value="Special:Search"> -->
				<input id="searchButton" class="headband-searchButton" type="submit" name="go" title="Search for content" value="Go">
			</div>
		</div>
	</div>
	<main class="main">
		<header class="header" style="opacity: 1; top: 0px;">
			<div class="header-inner">
				<div class="site-brand-container">
					<div class="site-meta">
				    <a href="https://rfmeng.github.io/" class="brand" rel="start">
				      <p class="site-title" style="opacity: 1; top: 0px;">Nowhere Dense</p>
				    </a>
				      <p class="site-subtitle" itemprop="description" style="opacity: 1; top: 0px;">Notes for lifelong learning</p>
				  </div>
				</div>
				<nav class="site-nav">
				  <ul class="main-menu menu">
				  	<li class="menu-item menu-item-home animated fadeInDown"><a href="/index.html" rel="section"><i class="fa fa-home fa-fw"></i>Main page</a>
				  	</li>
				  	<li class="menu-item menu-item-home animated fadeInDown">
				  		<div class="vector-search-box">
					  <div id="simpleSearch" class="vector-search-box-inner" data-search-loc="header-navigation">
							<input class="vector-search-box-input" type="search" name="search" placeholder="Search for the forgotten" aria-label="Search for the forgotten" autocapitalize="sentences" title="Search for the forgotten [alt-shift-f]" accesskey="f" id="searchInput" autocomplete="off">
							<!-- <input type="hidden" name="title" value="Special:Search"> -->
							<input id="searchButton" class="searchButton" type="submit" name="go" title="Search for content" value="Go">
						</div>
					</div>
				  	</li>

				  </ul>
				  
				  <!-- search from wikipedia -->

				</nav>
			</div>
			<aside class="sidebar animated fadeInUp">
				<div class="sidebar-inner sidebar-nav-active sidebar-toc-active">
					<ul class="sidebar-nav">
		        <li class="sidebar-nav-toc">
		          <a href="#top">Contents</a>
		        </li>
	      	</ul>
	      	<div class="sidebar-panel-container">
	        	<div class="post-toc-wrap sidebar-panel">
	            <div class="post-toc animated">
	            	@@begin-nav-end@@
	            </div>
	        	</div>
	      	</div>
	      </div>
			</aside>
		</header>

		<div class="main-inner post posts-expand">
			<div class="post-block animated fadeIn">
				<article itemscope class="post-content" lang="zh-CN">
					<header class="post-header animated fadeInDown">
		        <h1 class="post-title" itemprop="name headline">
		          @@begin-title-end@@
		        </h1>
		        <div class="post-meta-container">
		          <div class="post-meta">
						    <span class="post-meta-item">
						      <span class="post-meta-item-icon">
						        <i class="far fa-calendar"></i>
						      </span>
						      <span class="post-meta-item-text">Modified</span>
						      <time title="创建时间：2022-01-12 11:10:01" itemprop="dateCreated datePublished" datetime="2022-01-12T11:10:01+00:00">@@begin-modify date-end@@</time>
						    </span>
						    <span class="post-meta-item">
						      <span class="post-meta-item-icon">
						        <i class="far fa-folder"></i>
						      </span>
						      <span class="post-meta-item-text">Categorized</span>
					        <span itemprop="about" itemscope="">
					          <a href="" itemprop="url" rel="index"><span itemprop="name">@@begin-category-end@@</span></a>
					        </span>
						    </span>
							</div>
		        </div>
		      </header>
					@@begin-article-end@@
	      	<footer class="post-footer">
	          <div class="post-tags">
	          	@@begin-tags-end@@
	          </div>
	          <div class="post-nav">
	            <div class="post-nav-item">
                @@begin-previous article-end@@
	            </div>
	            <div class="post-nav-item">
                @@begin-next article-end@@
	            </div>
	          </div>
					</footer>
				</article>
			</div>
		</div>
	</main>
	<footer class="footer" style="opacity: 1;">
    <div class="footer-inner" unselectable="on"; onselectstart="return false;" >
    	<div class="powered-by">怀旧空吟闻笛赋，到乡翻似烂柯人</div>
			<div class="copyright" >
			  ©<span itemprop="copyrightYear">2022</span>
			  <span class="with-love">
			    <i class="fa fa-heart"></i>
			  </span>
			  <span class="author" itemprop="copyrightHolder">Nowhere Dense</span>
			</div>
    	</div>
  	</footer>
  	<!-- algolia search -->
	<script src="/lib/algoliasearch.js"></script>
	<script src="/lib/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	    var client = algoliasearch("FDSVDWTFJT", 'a20f9e8e755004dfdc239b75dab95035');
	    var index = client.initIndex("article");

	    $("input.searchButton").click(function(){
	    	$("body").css("cursor", "progress");
	    	var inputStr = $("input.vector-search-box-input").val();
	    	var result = index.search(inputStr).then(({hits})=>{
	    		$("h1.post-title").text("Search Results");
	    		$(".post-meta-container").remove();
	    		$("aside.sidebar").remove();
	    		var mume = $(".mume");
	    		mume.empty();

	    		// console.log(hits);
	    		if (hits.length==0){
	    			mume.append("<p>No results found</p>");
	    		}
	    		else {
	    			var content = ""
		    		for (var i=0;i<Math.min(hits.length,10);i++){
		    			content += '<h3><a class="algolia-searched" href="'+hits[i].path+'">'+hits[i].title+"</a></h3>";
		    			content += "<p>"+hits[i].content.substring(0,330)+"</p>";
		    		}
		    		mume.append(content);
	    		}
	    		$("body").css("cursor", "auto");
	    	});
	    });
	  });
	</script>
</body>
</html>